In [6]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv('data/MAGICWAND_O.csv', names =['x','y','z','xrot','yrot','zrot','label'])

In [14]:
data

          x      y     z  xrot   yrot   zrot  label
0         3   1.90 -0.06  0.01   8.54 -19.65   3.23
1        18   0.90 -0.38 -0.05  23.44 -16.05  20.14
2        33   0.91 -0.20 -0.03   1.40   3.85  -1.04
3        49   0.97 -0.24 -0.08   2.32   2.75  -1.46
4        64   1.00 -0.25 -0.09   0.85   3.91  -7.02
...     ...    ...   ...   ...    ...    ...    ...
26931  1402   0.80  0.21  0.50  27.10 -67.26  30.46
26932  1417   0.78  0.24  0.51  15.08 -69.09  31.13
26933  1432   0.75  0.18  0.47   4.88 -56.40  31.43
26934  1447   0.72  0.23  0.40   4.64 -41.02  19.65
26935  EXIT  96.00   NaN   NaN    NaN    NaN    NaN

[26936 rows x 7 columns]